.navbar-default {
	background-color: #252525; 
	
}

.nav-link {
	color: white;
}

.navbar-brand {
	color: white;
}

/* #free__back {
	background-color: #2A2A2A;
} */

#best__game h2{
	color: white;
}

#card__div__free {
	background-color: #2A2A2A;
}

#card__div__free h5{
	color: white;
}

#card__div__free p{
	color: #6A6A6A;
}

#card__div__best {
	background-color: black;
}

#card__div__best p,h5{
	color: white;
}

.carousel-inner img {
	width: 100%;
	height: 80%;
}

.carousel-control-prev, .carousel-control.next {
    background-image: none
}

#game__detail p,h4,h5{
	color: white;
}

#game__detail__table td{
	color: white;
	width: 280px;
}

#game__detail__table th,h5{
	color: #6d6d6d;
}

#search__admin h5,a{
	color: #5151ff;
	
}

/*jssor slider loading skin spin css*/
        .jssorl-009-spin img {
            animation-name: jssorl-009-spin;
            animation-duration: 1.6s;
            animation-iteration-count: infinite;
            animation-timing-function: linear;
        }

        @keyframes jssorl-009-spin {
            from { transform: rotate(0deg); }
            to { transform: rotate(360deg); }
        }

        /*jssor slider bullet skin 051 css*/
        .jssorb051 .i {position:absolute;cursor:pointer;}
        .jssorb051 .i .b {fill:#fff;fill-opacity:0.3;}
        .jssorb051 .i:hover .b {fill-opacity:.7;}
        .jssorb051 .iav .b {fill-opacity: 1;}
        .jssorb051 .i.idn {opacity:.3;}

        /*jssor slider arrow skin 051 css*/
        .jssora051 {display:block;position:absolute;cursor:pointer;}
        .jssora051 .a {fill:none;stroke:#fff;stroke-width:360;stroke-miterlimit:10;}
        .jssora051:hover {opacity:.8;}
        .jssora051.jssora051dn {opacity:.5;}
        .jssora051.jssora051ds {opacity:.3;pointer-events:none;}
        
/* 메인홈 검색창 옵션 */
.container-1{
  width: 300px;
  vertical-align: middle;
  white-space: nowrap;
  position: relative;
}

.container-1 input#search{
  width: 280px;
  height: 39px;
  background: #252525;
  border: none;
  font-size: 10pt;
  float: left;
  color: white;
  padding-left: 15px;
  outline: 0;

}

.container-1 input#search::-webkit-input-placeholder {
   color: #65737e;
}
 
.container-1 input#search:-moz-placeholder { /* Firefox 18- */
   color: #65737e;  
}
 
.container-1 input#search::-moz-placeholder {  /* Firefox 19+ */
   color: #65737e;  
}
 
.container-1 input#search:-ms-input-placeholder {  
   color: #65737e;  
  
}

input.img-button {
        background: url( "image/search.png" ) no-repeat;
        border: none;
        float: left;
        width: 40px;
        height: 39px;
        cursor: pointer;
        outline: 0;
}
/* 메인창 검색창 end */

/* 고객센터 검색창 */
.container-2{
  vertical-align: middle;
  white-space: nowrap;
  position: relative;
}

.container-2 input#search{
  width: 100%;
  height: 45px;
  background: white;
  border: none;
  font-size: 10pt;
  float: left;
  color: black;
  padding-left: 15px;

}

.container-2 input#search::-webkit-input-placeholder {
   color: #65737e;
}
 
.container-2 input#search:-moz-placeholder { /* Firefox 18- */
   color: #65737e;  
}
 
.container-2 input#search::-moz-placeholder {  /* Firefox 19+ */
   color: #65737e;  
}
 
.container-2 input#search:-ms-input-placeholder {  
   color: #65737e;  
  
}

input.img-button2 {
        background: url( "image/search.png" ) no-repeat;
        border: none;
        float: left;
        width: 45px;
        height: 45px;
        cursor: pointer;
}

/*필터  메뉴*/
#Tag__menu p {
	color: #8e8e8e;
}

#Tag__menu strong {
	color: white;
}

#Tag__menu p:hover {
	color: white;
}

/*필터  end*/

#card__div__free img:hover{
	position: relative;
    left: 1px;
    bottom: 1px;
}

#card__div__free {
	cursor: pointer;
	background-color: black;
}

.card-body p a{
	font-size: 13px;
	color: white;
	text-decoration: none;
}

.card-body h5 a{
	color: white;
	text-decoration: none;
}
.search__main h5 a{
	font-size: 14px;
	color: white;
	text-decoration: none;
}

#news__page {
     padding: 0.19rem 2.5rem;
}

#news__page h5 a{
	
	color: #F5F5F5;
	text-decoration: none;
}

#news__page p a{
	font-size : 14px;
	color: #959595;
    font-weight: 400;
    text-decoration: none;
}

.buy-button {
	width: 172px;
	height: 50px;
	background-color: #FFCC33;
	border: none;
	text-align: center;
	font-size: 11px;
}
.buy-button:hover {
	
	background-color: #fcbf16;

}


.buy-button2 {
	width: 50px;
	height: 50px;
	background-color: #FFCC33;
	border: none;
	align-content : center;
	margin-left: 1px;
	padding-left: -5px;
}

.buy-button2 img:hover{
	
}

[data-tooltip-text]:hover {
	position: relative;
}

[data-tooltip-text]:hover:after {
	content: attr(data-tooltip-text);
	
	width : 100px;
    position: absolute;
	bottom: 100%;
	left: 0;
    
    padding-left : -30px;
    margin-left: -30px;
    margin-bottom : 25px;
    
    background-color: rgba(0, 0, 0, 0.8);
	color: #fcbf16;
	font-size: 12px;

	z-index: 9999;
}

#great__best h5 a{
	color: white;
	font-size: 20px;
}


#great__best a {
	color: white;
	font-size: 13px;
	text-decoration: none;
}

#sale__special h4,h2{
	color: white;
}

#sale__special p{
	color: #f4f4f4;
}



#main-menu > li {
  text-align: center;
  float: center;
  position: relative;
}

#main-menu > li > a {
  color: rgba(255,255,255,0.85);
  text-align: center;
  text-decoration: none;
  letter-spacing: 0.05em;
  display: block;
  padding: 15px;
  
  text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
}

#main-menu > li:nth-child(1) > a {
  
}

#sub-menu {
  position: absolute;
  background: #252525;
  opacity: 0;
  visibility: hidden;
  transition: all 0.15s ease-in;
}

#sub-menu > li {
  padding: 10px 15px 5px 15px ;
  border-bottom: 1px solid rgba(0,0,0,0.15);
  margin: 0 20px 0 -20px;
}

#sub-menu > li >  a {
  color: rgba(255,255,255,0.6);
  text-decoration: none;
}

#main-menu > li:hover #sub-menu {
  opacity: 1;
  visibility: visible;
}

#sub-menu > li >  a:hover {
 text-decoration: underline;
}

section {
  column-width: 15em;
  background: #dadadf;
  padding: 2em;
}



#account__page {
	background-color: #F8F8F8;
	margin-top: -10px;
}



#account__page__inpu {
	background-color: white;
	margin: 30px;
}

#account__page__inpu h4{
	color: black;
}

#account__page__table button{
	text-align: left;
	width : 100%;
	height : 50px; 
	border: 1px;
	margin-bottom: 2px;
	background-color: white;
	color: #a8a8a8;
	font-size: 14px;
	outline: 0;
	
	color:#333; 
	transition:all 0.9s, color 0.3;


}

#account__page__table button:hover{
	position: relative;
    left: 3px;
    background-color: rgba(0,0,0,0.25); 
    
}

#account__page__con {
	margin: 5px;
}


#nav__a__button {
	height: 35px; 
	font-size: 13px;

}

#nav__a__button button{
		height: 56px; 
		width: 130px;
		margin-right:-30px; 
		color: white;
		background-color: #007DFC;
		padding: 10px 10px 10px 10px ;
		margin: -10px -25px 0 0;
		outline: 0;
		border: 0;
}

#nav__a__button2 {
	height: 35px; 
	font-size: 13px;

}

#nav__a__button2 button{
		height: 56px; 
		width: 130px;
		margin-right:-30px; 
		color: white;
		background-color: #007DFC;
		padding: 10px 10px 10px 10px ;
		margin: -10px -25px 0 0;
		outline: 0;
		border: 0;
	margin-top: -25px;
}

#nav__a__button1 {
	height: 35px; 
	font-size: 13px;

}

#nav__a__button1 button{
		height: 56px; 
		width: 130px;
		margin-right:-30px; 
		color: white;
		background-color: #007DFC;
		padding: 10px 10px 10px 10px ;
		margin: -10px -25px 0 0;
		outline: 0;
		border: 0;
	margin-top: -25px;
}




#login__con p{
	font-size: 12px;
	
}

#login__con p a{
	font-size: 14px;
	color: black;
	
}

#login__con label{
	font-size: 14px;
	
}

#find__email {
	text-align: center;
}

#find__email h3{
	background-color: #d54841;
	padding: 15px 15px 15px 15px;
	font-size: 13px;
	color: white;
	
}

#find__email h4{
	background-color: #3c4ffd;
	padding: 15px 15px 15px 15px;
	font-size: 13px;
	color: white;
	
}

#cart__jumbo {
	padding-bottom: 20px;
	padding-top: 20px;
	padding-left: 5px;
	text-align: right;
}

.cartList-op h4,h5{
	color: black;
}

.cartList-op i{
	cursor: pointer;
}

#code__con{
	background-color: white;
}


#code__con p{
	font-size: 14px;
	color: #999999;
}

#code__btn button{
	background-color: #0AAFF1;
	border: 0;
	outline: 0;
	width: 76px;
	height: 44px;
	font-size: 14px;
}

#code__btn #gggg{
	background-color: #707070;
}

.user-code {
	background-color: #dbdbdb;
	margin-left: 15px;
	margin-right: 15px;
}

.user-code h5{
	font-size: 15px;
	margin-bottom: 0rem;
}

.user-code p{
	font-size: 13px;
	margin-top: 0;
    margin-bottom: 0rem;
}