.navbar-default {
	background-color: #2b303b; 
}

.nav-link {
	color: white;
}

.navbar-brand {
	color: white;
}

#free__back {
	background-color: #2A2A2A;
}

#best__game h2{
	color: white;
}

#card__div__free {
	background-color: #2A2A2A;
}

#card__div__free h5{
	color: white;
}

#card__div__free p{
	color: #6A6A6A;
}

#card__div__best {
	background-color: black;
}

#card__div__best p,h5{
	color: white;
}

.carousel-inner img {
	width: 100%;
	height: 80%;
}

.carousel-control-prev, .carousel-control.next {
    background-image: none
}

#game__detail p,h4,h5{
	color: white;
}

#game__detail__table td{
	color: white;
}

#game__detail__table th,h5{
	color: #6d6d6d;
}

/*jssor slider loading skin spin css*/
        .jssorl-009-spin img {
            animation-name: jssorl-009-spin;
            animation-duration: 1.6s;
            animation-iteration-count: infinite;
            animation-timing-function: linear;
        }

        @keyframes jssorl-009-spin {
            from { transform: rotate(0deg); }
            to { transform: rotate(360deg); }
        }

        /*jssor slider bullet skin 051 css*/
        .jssorb051 .i {position:absolute;cursor:pointer;}
        .jssorb051 .i .b {fill:#fff;fill-opacity:0.3;}
        .jssorb051 .i:hover .b {fill-opacity:.7;}
        .jssorb051 .iav .b {fill-opacity: 1;}
        .jssorb051 .i.idn {opacity:.3;}

        /*jssor slider arrow skin 051 css*/
        .jssora051 {display:block;position:absolute;cursor:pointer;}
        .jssora051 .a {fill:none;stroke:#fff;stroke-width:360;stroke-miterlimit:10;}
        .jssora051:hover {opacity:.8;}
        .jssora051.jssora051dn {opacity:.5;}
        .jssora051.jssora051ds {opacity:.3;pointer-events:none;}
        
/* 메인홈 검색창 옵션 */
.container-1{
  width: 300px;
  vertical-align: middle;
  white-space: nowrap;
  position: relative;
}

.container-1 input#search{
  width: 280px;
  height: 45px;
  background: #2b303b;
  border: none;
  font-size: 10pt;
  float: left;
  color: white;
  padding-left: 15px;

}

.container-1 input#search::-webkit-input-placeholder {
   color: #65737e;
}
 
.container-1 input#search:-moz-placeholder { /* Firefox 18- */
   color: #65737e;  
}
 
.container-1 input#search::-moz-placeholder {  /* Firefox 19+ */
   color: #65737e;  
}
 
.container-1 input#search:-ms-input-placeholder {  
   color: #65737e;  
  
}

input.img-button {
        background: url( "image/search.png" ) no-repeat;
        border: none;
        float: left;
        width: 45px;
        height: 45px;
        cursor: pointer;
}
/* 메인창 검색창 end */

/* 고객센터 검색창 */
.container-2{
  vertical-align: middle;
  white-space: nowrap;
  position: relative;
}

.container-2 input#search{
  width: 100%;
  height: 45px;
  background: white;
  border: none;
  font-size: 10pt;
  float: left;
  color: black;
  padding-left: 15px;

}

.container-2 input#search::-webkit-input-placeholder {
   color: #65737e;
}
 
.container-2 input#search:-moz-placeholder { /* Firefox 18- */
   color: #65737e;  
}
 
.container-2 input#search::-moz-placeholder {  /* Firefox 19+ */
   color: #65737e;  
}
 
.container-2 input#search:-ms-input-placeholder {  
   color: #65737e;  
  
}

input.img-button2 {
        background: url( "image/search.png" ) no-repeat;
        border: none;
        float: left;
        width: 45px;
        height: 45px;
        cursor: pointer;
}